@import "../../global.scss";

.featured {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    width: 60%;
    @include mobile {
      display: none;
    }

    img {
      width: 85%;
    }
  }

  .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      width: 90%;
      text-align: center;
      align-items: center;
      padding: 1em;
      // color: black;
    }

    .title {
      font-size: clamp(2rem, 1rem + 10vw, 5rem);
      //   text-align: center;
    }

    .subtitle {
      margin-top: 1.3em;
      //   text-align: center;
      font-size: 1.5rem;
      color: #333;
      font-style: italic;
      //   text-align: center;
    }

    .desc {
      margin-top: 1em;
      width: min(500px, 90%);
      //   text-align: center;
      color: rgb(82, 79, 79);
      font-size: 1.3rem;
    }

    button {
      margin-top: 1em;
      width: 10em;
      border: none;
      padding: 1em 1.1em;
      background-color: darkblue;
      color: white;
      border-radius: 10px;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
