@import "../../global.scss";

.intro {
  height: calc(100vh - 8.5em);
  // background-color: white;
  display: flex;
  padding: 1em;

  .left {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      width: 100%;
      text-align: center;
    }

    h1 {
      width: 60%;
      font-size: clamp(2rem, 1rem + 10vw, 5rem);

      @include mobile {
        width: 100%;
      }
    }

    p {
      width: 60%;
      font-size: 1.3rem;
      margin-top: 1em;
    }

    .info {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2em;

      @include mobile {
        flex-direction: column;
      }

      button {
        padding: 1em;
        background-color: darkblue;
        color: white;
        border-radius: 10px;
        font-weight: bold;
        border: none;
        letter-spacing: 2px;
        cursor: pointer;
      }

      .phone {
        color: #ff97af;
        font-weight: bold;
        margin-bottom: 5px;
        @include mobile {
          margin-top: 1em;
        }
      }
    }
  }

  .right {
    width: 40%;
    display: flex;
    align-items: center;
    @include mobile {
      display: none;
    }

    img {
      width: 90%;
      z-index: 3;
    }
  }
}
